@import "../../styles/variables";

.card {
  background-color: #fff;
  width: 93%;
  margin: auto;
  border-top-left-radius: $summary-radius;
  border-top-right-radius: $summary-radius;
}

.check {
  font-size: 2rem;
  color: #00C94B;
}

.divider {
  border: 1px solid #bfbfbf;
}

.truncate {
  max-width: 140px;
}
