.fq-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  padding-top: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Moderneratrial, sans-serif;
}

.fq-header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
}

.pr-faqs {
  width: 100%;
  margin-top: 75px;
}

.pr-faqcolum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr-faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-bottom: 30px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 50px 3px rgba(111, 112, 139, .14);
}

.fq-q {
  width: 100%;
  font-size: 21px;
  line-height: 150%;
  font-weight: 700;
}

.fq-a {
  width: 100%;
  margin-top: 15px;
  color: #858585;
  font-size: 18px;
  line-height: 160%;
  font-weight: 300;
}

@media (max-width: 479px) {
  .fq-div {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .pr-faq {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .fq-a {
    font-size: 15px;
  }
}

@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Bold.otf') format('opentype'), url('../../fonts/ModernEraTRIAL-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-BoldItalic.otf') format('opentype'), url('../../fonts/ModernEraTRIAL-ExtraBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
