.intro_head {
  font-family: 'Work Sans', sans-serif;
  color: #00ce5b;
  font-weight: 600;
  text-align: center;
}

.intro_para {
  margin-top: 21px;
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  line-height: 150%;
  font-weight: 300;
  text-align: center;
}

.intro {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 0px;
  padding-left: 0px;
}

.intro_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  text-align: center;
}

.section_1 {
  padding-top: 40px;
  background-color: #f6f6f6;
}

.section_head {
  margin-top: 50px;
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.intro_action {
  display: none;
  margin: 30px auto;
}

.content_column {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 50px;
}

.content_div {
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.content_para {
  margin-top: 21px;
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  line-height: 150%;
  font-weight: 300;
  text-align: left;
}

.content_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 50px 5px #ddd;
}

.content_para_heading {
  margin-top: 21px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

.section_2 {
  background-color: #fff;
}

.dashboard {
  display: none;
  margin: 30px -50px;
  padding-bottom: 0px;
  box-shadow: 0 0 50px 5px #dadada;
}

.intro_image_2 {
  display: none;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.div-block {
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #394456;
}

.image {
  display: block;
  margin: 0px auto;
}

.div-block-2 {
  background-color: #f5f5f5;
}

.content_column2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 50px;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image_consume {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  margin-bottom: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  text-align: center;
}

.section_3 {
  padding-top: 40px;
  background-color: #f5f7ff;
}

.image-5 {
  display: block;
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
}

@media (max-width: 991px) {
  .intro {
    padding-right: 100px;
    padding-left: 100px;
  }
  .content_div {
    padding-right: 100px;
    padding-left: 100px;
  }
  .image_consume {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column {
    padding-right: 0px;
    padding-left: 20px;
  }
  .column-2 {
    padding-left: 20px;
  }
  .column-3 {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .intro_para {
    font-size: 18px;
  }
  .intro {
    padding-right: 20px;
    padding-left: 20px;
  }
  .content_column {
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .content_div {
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .content_para {
    font-size: 18px;
  }
  .content_column2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .column {
    padding-left: 0px;
  }
  .column-2 {
    padding-left: 10px;
  }
  .column-3 {
    padding-left: 10px;
  }
  .column-4 {
    padding-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .intro_para {
    font-size: 15px;
  }
  .content_para {
    font-size: 15px;
  }
  .content_para_heading {
    font-size: 15px;
  }
  .intro_image_2 {
    display: none;
  }
  .heading {
    font-size: 27px;
  }
}

@font-face {
  font-family: 'Interface';
  src: url('../../fonts/Interface-Black.woff2') format('woff2'), url('../../fonts/Interface-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Interface';
  src: url('../../fonts/Interface-Bold.woff2') format('woff2'), url('../../fonts/Interface-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Interface';
  src: url('../../fonts/Interface-Medium.woff2') format('woff2'), url('../../fonts/Interface-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Interface';
  src: url('../../fonts/Interface-BlackItalic.woff2') format('woff2'), url('../../fonts/Interface-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Interface';
  src: url('../../fonts/Interface-MediumItalic.woff2') format('woff2'), url('../../fonts/Interface-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Interface';
  src: url('../../fonts/Interface-BoldItalic.woff2') format('woff2'), url('../../fonts/Interface-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Interface';
  src: url('../../fonts/Interface-Regular.woff2') format('woff2'), url('../../fonts/Interface-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Interface';
  src: url('../../fonts/Interface-RegularItalic.woff2') format('woff2'), url('../../fonts/Interface-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
