.dropdown-link {
    display: block;
    background-color: #f6f9fc;
}

.dropdown-link:hover {
    background-color: #48eea5;
    color: #693453;
    font-weight: 300;
}

.dropdown-list {
    display: none;
    margin-top: 0px;
    background-color: #ebebeb;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.dropdown-link-2 {
    background-color: #48eea5;
}

.navlink {
    padding-top: 25px;
    font-family: 'Work Sans', sans-serif;
    color: #a6b5bf;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navlink:hover {
    color: #000;
}

.navlink.w--current {
    color: #000;
    font-weight: 600;
}

.navlink.signup {
    color: #693453;
    font-weight: 700;
}

.navlink.signup:hover {
    color: #48eea5;
}