.destination-bar-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 58px;
    top: 9px;
    left: 0;
    right: 0;
    width: 94%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    z-index: 10;
    padding: 12px;
    box-sizing: border-box;
    margin: 0 3% 24px;
}

.destination-bar-label {
    font-size: 13px;
    color: #928b8b;
}

.destination-bar-value-container {
    display: flex;
}

.destination-bar-value {
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    flex-grow: 1;
}

.destination-bar-icon {
    width: 24px;
    height: 24px;
}

.destination-bar-values-container {
    flex-grow: 1;
}