.pr-freetoview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Moderneratrial, sans-serif;
}

.pr-blackheader {
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
}

.pr-blackheader.pr-white {
  color: #fff;
}

.pr-blacksubhead {
  margin-top: 15px;
  color: rgba(0, 0, 0, .5);
  letter-spacing: 1px;
}

.pr-freeholder {
  width: 60%;
  margin-top: 35px;
}

.pr-freecolum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr-imageholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr-imagesubblack {
  margin-top: 20px;
  color: #838383;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pr-imagesubblack.pr-white {
  color: #fff;
}

.pr-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 45px;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #00ce5b;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.pr-cta:hover {
  background-color: #00db60;
}

.pr-cta:active {
  background-color: #00a548;
}

.pr-cta.pr-upgrade {
  width: auto;
}

.pr-paytoprogram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin-top: 50px;
  margin-bottom: 75px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  background-color: #00ce5b;
  font-family: Moderneratrial, sans-serif;
}

.pr-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.pr-smalls {
  text-transform: lowercase;
}

.pr-plans {
  width: 80%;
  margin-top: 50px;
}

.pr-ordiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr-or {
  color: #008639;
  font-size: 21px;
  font-weight: 700;
}

.pr-plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr-planheader {
  color: #008639;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pr-plancard {
  width: 100%;
  margin-top: 8px;
  padding: 40px 15px 25px;
  border-radius: 6px;
  background-color: #fff;
}

.pr-price {
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;
}

.pr-per {
  margin-top: 8px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pr-slider {
  margin-top: 20px;
}

@media (max-width: 479px) {
  .pr-freetoview {
    padding-right: 5%;
    padding-left: 5%;
  }
  .pr-imagesubblack {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .pr-cta {
    margin-top: 20px;
  }
  .pr-paytoprogram {
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .pr-plans {
    width: auto;
  }
  .pr-ordiv {
    height: 50px;
  }
}

@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Bold.otf') format('opentype'), url('../../fonts/ModernEraTRIAL-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-BoldItalic.otf') format('opentype'), url('../../fonts/ModernEraTRIAL-ExtraBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Moderneratrial';
  src: url('../../fonts/ModernEraTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
