.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 30;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.app-loading-container.hide {
  display: none;
}

.map-container {
  flex-grow: 1;
  display: flex;
}

#map {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reset-bounds-container {
  position: absolute;
  bottom: 80px;
  right: 0;
  z-index: 10;
  margin: 0 3% 24px;
  transition: 300ms ease all;
}

.reset-bounds-container.expanded {
  bottom: 220px;
}

.reset-bounds-container.expanded.show-summary {
  bottom: 280px;
}

.reset-bounds-icon {
  width :66px;
  height: 66px;
  cursor: pointer;
}

.app-information-detail-container {
  /*position: relative;*/
  /*bottom: 0;*/
  display: flex;
  flex-direction: column;
  /*left: 0;*/
  /*right: 0;*/
  z-index: 20;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  box-sizing: border-box;
  /*margin: 0 3% 24px;*/
}

/*.actions-information-container {*/
  /*display: flex;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: 0 1% 24px;*/
  /*bottom: 0;*/
/*}*/

.actions-left-arrow, .actions-right-arrow {
  width: 30px;
  cursor: pointer;
}

.left-arrow-container {
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.right-arrow-container {
  margin-left: 18px;
  display: flex;
  align-items: center;
}

.actions-slider-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  overflow: hidden;
}

/*.app-information-slider-container {*/
  /*display: flex !important;*/
  /*justify-content: center !important;*/
/*}*/

/* the slides */
.slick-slide {
  margin-left:6px;
}

/* the parent */
.slick-list {
  margin-left:-6px;
}

/*
Zoom control
 */
.zoom-control {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  font-weight: 800;
  font-size: 27px;
}
.zoom-action {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  display: flex;
  cursor: pointer;
}
.auto {
  margin: auto;
}
.zoom-action:first-child {
  border-bottom: 1px solid grey;
}