body {
  margin: 0;
  font-family: Roboto, helvetica, sans-serif;
  font-weight: 100;
  color: rgb(74, 74, 74);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#root {
  height: 100%;
  width: 100%;
}
